.portfolio-body {
    height: 100vh;
    justify-content: center;
    align-items: center;
}

/* Stylingthe last h2 tag by giving margin bottom */
.progress-bar-container:not(:last-child) {
    margin-bottom: 50px;
}

/* Styling the h2 tag by giving color,
letter spacing, font-size etc.*/
.progress-bar-container h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #333283;
    letter-spacing: 1px;
    font-size: 20px;
}
.skill-cont{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px 10px;
    font-size: 18px;
    font-weight: 300;
}
.skill-cont .skill{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #fff;
    width: 100px;
    padding: 10px;
}

.skill-cont .skill:hover{
    box-shadow: 0 0 4px 0 #383838;
    transition: .5s ease-out;
}

@media screen and (max-width: 900px) {
    .skill-cont{
        margin-left: 20px;
        grid-template-columns: auto auto;
        width: 100%;
        align-items: center;
        row-gap: 40px;
    }
    .skill-cont .skill{
        width: 200px;
    }
    
}

.skill-cont .skill img{
    /* width: 150px; */
    height: 100px;
    margin-bottom: 10px;
}


/* Animating the progress bar by
initially starting from 0*/
@keyframes progress {
    from {
        width: 0;
    }
}